/* html코드에 tailwind css 적용과 더불어 이 css파일도 html에 적용 */

/* 폰트 추가 */

@font-face{
    font-family: "Jua";
    src: url("../fonts/BMJUA_ttf.ttf");
}

h1, h2{
    font-family: "Jua";
}

.spinner-container {
    display: inline-block;
    animation: spin 30s linear infinite;
}
#angry_image,
#expressionless_image,
#smile_image {
    width: 100px;
    height: 100px;
}
textarea::-webkit-scrollbar {
    width: 0.2rem;
}
  
textarea::-webkit-scrollbar-thumb {
    background: white;
}
  
textarea::-webkit-scrollbar-thumb:hover {
    background: white;
}
  